.tarjeta{
    border-style: solid;
    border-radius: 10px;
    border-color: goldenrod;
    border-width: 2px;

    width: 15%;

    margin: 25px auto 25px;

    padding: 10px;

    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}

img{
    width: 75%;
    height: 200px;
}

.oculto{
    visibility: hidden;
    display: none;
}